<h3>hello i'm django</h3>


<form method="POST" action=".">
  <input type="text" name="fcal" value="{{F}}" />
  <input type="text" name="fcal2" value="{{F}}" />
<p>
  <input type="submit" name="fibo" value="Fibonacci" />
</p>
</form>
<form method="POST" action="." class="n">
  <input type="text" name="f5" value="{{F}}" />
  <input type="text" name="f25" value="{{F}}" />
<p>
  <input type="submit" name="fbo" value="Fib" />
</p>
</form>
<style>
  body {background-color: rgb(31, 55, 58);margin-top: 20%; margin-left: 10%;margin-right: 10%;}
  h1   {color: blue;}
  p    {color: red;}
  form {background-color: aqua;padding: 2%;}
  </style>
<p>{{cal}}</p>
